extends baseEmail

block content
  p Hello #{firstName},
  p Your password has been successfully reset.
  p If you did not make this change, please contact our support team immediately.
  p For security reasons, we recommend enabling two-factor authentication in your account settings.
  p Thanks,
  p The AI Proctoring Team
